<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= htmlWebpackPlugin.options.environment.base %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#2196F3">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">

  <title>
    <%= htmlWebpackPlugin.options.environment.pageTitle %>
  </title>
</head>

<body>
  <mr-app>Loading ...</mr-app>
</body>

</html>
